<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="student" class="com.huongdanjava.springoverloadedconstructorinjection.Student">
    <constructor-arg value="Khanh" />
    <constructor-arg value="30" />
  </bean>
</beans>