<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:int="http://www.springframework.org/schema/integration"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-5.2.xsd">

  <int:channel id="channel" />

  <int:inbound-channel-adapter channel="channel" expression="{'Khanh'}">
    <int:poller fixed-delay="5000" />
  </int:inbound-channel-adapter>

  <int:logging-channel-adapter channel="channel"
    logger-name="com.huongdanjava.springintegration"
    expression="'Hello '.concat(payload).concat(' from Huong Dan Java')" />
</beans>