<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<property name="serviceClass" value="com.huongdanjava.muleesbcxfsoapexpose.HelloWorldService" />
		<property name="address" value="http://localhost:8081/hello" />
	</bean>
	
	<bean id="hello" class="com.huongdanjava.muleesbcxfsoapexpose.HelloWorldService" factory-bean="clientFactory" factory-method="create" />

</beans>