<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd">
	
	<mongo:repositories base-package="com.huongdanjava.springdatamongodb" mongo-template-ref="mongoTemplate"/>

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongoClient" />
		<constructor-arg value="mongodb_example" />
	</bean>

	<bean id="mongoClient" class="com.mongodb.MongoClient" />
</beans>