<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="student" class="com.huongdanjava.springsetterinjection.Student" />

  <bean id="clazz" class="com.huongdanjava.springsetterinjection.Clazz" p:name="Khanh" p:student-ref="student" />
</beans>