<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="table" class="com.huongdanjava.springbeanautowiring.Table">
		<property name="code" value="123456" />
	</bean>

	<bean id="room" class="com.huongdanjava.springbeanautowiring.Room" autowire="constructor">
	</bean>

</beans>