<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
  version="5.0">

  <servlet>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>com.huongdanjava.jakartaee.servlet.HelloWorldServlet</servlet-class>
    <load-on-startup>1</load-on-startup>

    <init-param>
      <param-name>name</param-name>
      <param-value>Khanh</param-value>
    </init-param>

    <init-param>
      <param-name>website</param-name>
      <param-value>Huong Dan Java</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>huongdanjavaServlet</servlet-name>
    <servlet-class>com.huongdanjava.jakartaee.servlet.HuongDanJavaServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>huongdanjavaServlet</servlet-name>
    <url-pattern>/huongdanjava</url-pattern>
  </servlet-mapping>
</web-app>